# MacOS junk
.DS_Store

# Latex junk
*.txt
*.aux
*.fls
*.log
*.out
*.pyg
*.toc

# Binaries
build*

# Latexrun
latex.out
latexrun

# Random junk
*pro.user
__pycache__
*.pyc
*.bib
*.pickle
*.npy

# Don't need to upload pictures...
*.png
fig/*

_various_scripts/visit_plot.py
*visit_plot*

